body{
    background-color: rgb(121, 121, 121);
    color: white;
    overflow-x: hidden;
}

#header_div{
    display: flex;
    background-color: rgb(211, 211, 211);
    margin-bottom: 2%;
    margin-left: -0.5%;
    margin-right: -0.5%;
    margin-top: -0.5%;
}

#nav_list{
    display: flex;
    text-decoration: none;
    margin-left: 60%;
}

#nav_list a{
    margin-right: 10%;
    margin-top: 5%;
    text-decoration: none;
    color: aliceblue;
}

#nav_list a:hover{
    text-decoration: underline;
    color: black;
    transition: .4s;
}

#main_img{
    position: absolute;
    left: 60%;
    border-radius: 20px;
    margin-top: 8%;
}

#paragraph{
    margin-left: 10%;
    margin-top: 10%;
}

#ingredients{
    margin-left: 60%;
    margin-top: 14%;
}

#ingredients_img{
    position: absolute;
    left: 10%;
    margin-top: 14%;
    border-radius: 20px;
}

#preparation{
    margin-top: 15%;
}
